main {
  padding-top: 95px;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
  text-transform: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

select.form-control {
  padding: 0.75rem;
}

.fa-react {
  color: #ffe600;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.featured-products h2 {
  color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23971717' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  padding-left: 10px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23971717' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  padding-right: 10px;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #971717;
}

.dropdown-menu {
  width: 600px !important;
}

.cartBadge {
  font-size: 100%;
}

.navSearch {
  min-width: 300px;
}

.mini-cart .row > .col,
.mini-cart .row > [class^='col-'] {
  padding: 0 5px;
}
.mini-cart .mini-cart {
  width: auto;
}
@media (min-width: 576px) {
  .form-inline .input-group,
  .form-inline .custom-select {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: baseline;
  }
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
